<!--
roslaunch saunterbot serial_torso.launch
-->
<launch>
    <group ns="torso_arduino">
<!--
        <node pkg="rosserial_arduino" type="serial_node.py" name="serial_node" output="screen">
-->
        <node pkg="saunterbot" type="serial_node.py" name="serial_node" output="screen">

            <param name="~port" value="/dev/ttyACM0" />
            
            <!--<param name="~baud" value="57600" />-->
            <param name="~baud" value="76800" />
            <!--<param name="~baud" value="115200" />-->
            
            <!--
            2018-4-11 CS Is this necessary?
            -->
            <param name="~auto_reset_timeout" value="30" />

        </node>
    </group>
</launch>
